@model List<Product>
@{
    ViewBag.Title = "Product Viewer";
}
<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">@ViewBag.Title</h1>
    </div>
</div>
<a asp-controller="Product" asp-action="Add" class="btn btn-primary" style="display: block; width: 100%;">Add New Product</a>
<form class="form-horizontal">
    @foreach (var Product in Model)
    {
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Name:</label>
            </div>
            <div class="col-md-10">
                <input value="@Product.Name" readonly class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Quantity:</label>
            </div>
            <div class="col-md-10">
                <input value="@Product.Quantity" readonly class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Price:</label>
            </div>
            <div class="col-md-10">
                <input value="@Product.Price" readonly class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Description:</label>
            </div>
            <div class="col-md-10">
                <input value="@Product.Description" readonly class="form-control" />
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-6">
                        <a asp-controller="Product" asp-action="Edit" asp-route-id="@Product.ProductId"
                           asp-route-slug="@Product.Slug" class="btn btn-secondary"
                           style="display: block; width: 100%;">Edit</a>
                    </div>
                    <div class="col-6">
                        <a asp-controller="Product" asp-action="Delete" asp-route-id="@Product.ProductId"
                           asp-route-slug="@Product.Slug" class="btn btn-danger"
                           style="display: block; width: 100%;">Delete</a>
                    </div>
                </div>
            </div>
        </div>

    }
</form>
